<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
		
		
	<!-- name : 정해져 있음 / id : 내 맘대로 정함 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 사용할 DataBase 지정 -->
		<property name="dataSource" ref="datasource"/>
		<!-- 쿼리가 존재하는 곳 지정(지정한 경로가 실제 없으면 에러 발생) -->
		<property name="mapperLocations">
			<list>
				<value>classpath:com/gudi/board/dao/*.xml</value>
				<value>classpath:com/gudi/member/dao/*.xml</value>
			</list>
		</property>
		<property name="configLocation" value="classpath:config/aliase.xml"/>
	</bean>	
		
	<!-- 마이바티스 간편 설정(마이바티스를 별다른 코드 없이 실행할수 있도록 빈 등록) -->
	<mybatis-spring:scan base-package="com.gudi.board.dao"/>
	<mybatis-spring:scan base-package="com.gudi.member.dao"/>	
</beans>
