<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper 에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- XML 이 어떤interface 와 연결이 되는가? -->
<mapper namespace="com.gudi.member.dao.MemberDAO">	

	<select id="login" parameterType="member" resultType="member">
		SELECT * FROM member WHERE id = #{id} AND pw = #{pw}
	</select>
	
</mapper>


















